<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moviestreaming">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieStreaming"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.comment.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".view.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.auth.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".view.intro.IntroActivity"
            android:exported="true"></activity>
        <activity
            android:name=".view.genremovie.GenreMovieActivity"
            android:exported="false" />
        <activity
            android:name=".view.player.PlayMovieActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:exported="false" />
        <activity
            android:name=".view.episode.EpisodeActivity"
            android:exported="false" />
        <activity
            android:name=".view.moviedetail.MovieDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.movielist.MovieListActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.example.moviestreaming"
                    android:scheme="moviestreaming" />
            </intent-filter>
        </activity>
    </application>

</manifest>